*{
    margin: 0;
}
body{
    font-family: "Lato";
}
.beautiful_flower{
    background-color: PapayaWhip;
    margin-bottom: 100px;
}
.beautiful_flower_content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}
.beautiful_flower_discription{
    width: 50%;
    margin-top: 90px;
}
.beautiful_flower_discription h1{
    font-size: 55px;
    font-weight: 800;
}
.beautiful_flower_discription p{
    color: #272727;
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0px;
}
.red_button{
    color: #FFFFFF;
    background-color: #E55473;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}
.beautiful_flower_img{
    width: 50%;
}
.beautiful_flower_img img{
    width: 80%;
    margin-left: 50px;
}
.featured_flowers{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.featured_flowers_content{
    text-align: center;
}
.featured_flowers_content h2{
    font-size: 30px;
    font-weight: 600;
}
.featured_flowers_content p{
    color: #272727;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px;
}
.image_of_flower_con{
    display: flex;
}
.image_of_flower{
    width: 30%;
    margin: 0px 20px;
    text-align: center;
}
.image_of_flower h3{
    font-size: 18px;
    margin-top: 15px;
}
.image_of_flower_img{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    padding: 100px 15px 0px 15px;
    border-radius: 200px 200px 0px 0px;
}
.image_of_flower_img img{
    width: 80%;
}
.pink{
    background-color: #A72162;
}
.green{
    background-color: #0597A0;
}
.blue{
    background-color: #477D11;
}
.delivery{
    background-color: Lavender;
    padding: 60px 0px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.delivery_product{
    text-align: center;
}
.delivery_product p{
    font-size: 16px;
    margin-top: 20px;
}
.hot_deals{
    background-color: PapayaWhip;
    margin-bottom: 100px;
}
.hot_deal{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 80px 0px;
}
.hot_deal_contant{
    width: 50%;
    text-align: center;
    margin-top: 100px;
}
.hot_deal_contant h2{
    font-size: 30px;
}
.hot_deal_contant p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px;
}
.hot_deal_image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot_deal_image img{
    width: 50%;
}
.red{
    color: #E55473;
}
.instagram{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.instagram_content{
    text-align: center;
}
.instagram_content h2{
    font-size: 30px;
}
.instagram_content p{
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0px;
}
.instagram_image img{
    width: 24%;
}
.instaImage{
    margin: 0px 11px;
}
.instaImages{
    margin-left: 11px;
}
.latest_deals{
    background-image: url("Flower\ Asset/Rectangle 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.latest_deals h2{
    font-size: 30px;
}
.latest_deals p{
    font-size: 14px;
    margin: 25px 0px;
}
input[type="email"]{
    width: 450px;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 5px;
}
input[type="button"]{
    width: 120px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 5px;
    margin-left: 10px;
}
.footer{
    background-color: #111010;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 0px;
}
.footer h2{
    font-size: 35px;
}
.footer p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px;
}
.gray{
    color: grey;
}