*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_content{
    padding: 10px 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu ul{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.nav_menu ul li{
    list-style: none;
}
.nav_menu ul li a{
    text-decoration: none;
}
.nav_button button{
    background-color: #30B868;
    padding: 10px 18px;
    color: white;
    border: none;
    border-radius: 3px;
}



.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 120px 0 180px;
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_content{
    text-align: center;
}
.banner_content .access{
    color: #30B868;
    font-size: 14px;
    background-color: white;
    display: inline;
    padding: 8px 10px;
    border-radius: 20px;
}
.banner_content h1{
    font-size: 55px;
    letter-spacing: 3px;
    margin: 25px 0 10px;
}
.banner_title_white{
    color: white;
}
.banner_title_green{
    color: #30B868;
}
.banner_content .banner_details{
    color: white;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 15px 0 30px;
}
.banner_button_start{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
}
.fa-arrow-right{
    margin-left: 5px;
}
.banner_button_work{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
}






.card_discription{
    text-align: center;
    margin: 50px 0;
}
.card_discription h1{
    font-size: 40px;
    margin: 10px 0;
}
.card_discription p{
    color: #627382;
    font-size: 13px;
}

.all_card_items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_items{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.card{
    height: 230px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}
.card_img{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 50px;
}
.card h2{
    text-align: center;
    font-size: 20px;
    margin: 15px 0;
}
.card p{
    color: #627382;
    font-size: 13px;
    text-align: center;
}









.about_section{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}
.about{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
}
.about_content h3{
    font-size: 15px;
    font-weight: 500;
    color: #30B868;
}
.about_content h1{
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}
.about_content p{
    font-size: 13px;
    margin-bottom: 20px;
    color: #627382;
}
.list_item ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}






