*{
    margin: 0;
    font-family: "Poppins";
}
.navbar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.logo{
    width: 20%;
}
.navSearch{
    width: 40%;
}
.navSearch input{
    background-color: #CCCCCC;
    width: 400px;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
}
.navSearch button{
    position: relative;
    border: none;
}
.fa-solid{
    position: absolute;
    right: 25px;
    bottom: -3px;
}
.navItem{
    width: 40%;
}
.navItem ul{
    display: flex;
    justify-content: space-around;
}
.navItem ul li{
    list-style: none;
}
.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    background-color: #FEEAE9;
    padding: 50px 0px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.banner_discription{
    width: 60%;
    margin: 20px 50px;
}
.banner_discription h1{
    font-size: 50px;
}
.banner_discription p{
    font-size: 14px;
    line-height: 25px;
    margin: 20px 0px;
}
.banner_discription h2{
    font-size: 35px;
    font-weight: 500;
    color: #FF136F;
    margin-bottom: 10px;
}
.banner_discription button{
    background-color: #FF136F;
    color: #FEEAE9;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
.banner_image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_image img{
    width: 80%;
}
.categories{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.categories h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.categories_item{
    display: flex;
    justify-content: space-between;
}
.categore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    border-radius: 10px;
}
.yellow{
    background-image: linear-gradient(#FF9C35, #FFD019);
}
.pink{
    background-image: linear-gradient(#FF589B, #FF136F);
}
.blue{
    background-image: linear-gradient(#4289FF, #3F07F8);
}
.categore h3{
    font-size: 30px;
    font-weight: 500;
    color: #FEEAE9;
    margin-right: 80px;
}
.categore img{
    width: 20%;
}
.shoeses{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.shoeses h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.shoes_item{
    display: flex;
}
.shoes{
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px 5px;
    border-radius: 10px;
}
.shoes img{
    width: 50%;
}
.shoes h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.shoes p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px;
}
.shoes h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.shoes button{
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.mid_item{
    margin: 0px 15px;
}
.backpack{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.backpack h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.back_item{
    display: flex;
}
.back{
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px 5px;
    border-radius: 10px;
}
.back img{
    width: 50%;
}
.back h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.back p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px;
}
.back h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.back button{
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.mid_item{
    margin: 0px 15px;
}
.footer{
    width: 80%;
    background-color: #FEEAE9;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.footer h2{
    font-size: 25px;
}
.footer p{
    font-size: 14px;
    margin: 15px 0px;
}
.form input{
    width: 300px;
    border: none;
    padding: 15px 20px;
    border-radius: 5px 0px 0px 5px;
}
.form ::placeholder{
    font-size: 15px;
}
.form button{
    position: relative;
    left: -5px;
    background-color: #FF136F;
    width: 100px;
    border: none;
    color: #FEEAE9;
    padding: 15px 30px;
    border-radius: 0px 5px 5px 0px;
}





